html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    font-size: 1.06rem;
    font-weight: 400;
    color: #000;

    background-color: #fff;

    -webkit-font-smoothing: antialiased;
}

body.lock {
    overflow: hidden;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HELPER */

.centre {
    margin-top: 3.6rem;

    text-align: center;
}

/* HEADER */

.header {
    width: 100%;
    padding: 24px 0 44px;

    border-bottom: 1px solid #484649;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header.fixed {
    padding: 1rem 0;

    background-color: #2b2f37;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    margin-right: 1.6rem;
}

.header__text {
    font-size: 1.06rem;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;

    text-transform: uppercase;
}

.header__text span {
    color: #e84c3d;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    padding-left: 2rem;

    font-size: .75rem;
    color: #fff;
    font-weight: 400;

    text-decoration: none;
    text-transform: uppercase;

    transition: color .2s linear;
}

.nav__link:first-child {
    padding-left: 0;
}

.nav__link:focus {
    outline: none;
}

.nav__link:hover,
.nav__link:focus {
    color: #e84c3d;
}

/* BURGER */

.burger {
    display: none;
    width: 32px;
    height: 32px;
    padding: 10px 0;

    background: transparent;
    border: none;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 32px;
    height: 3px;
    background-color: #fff;

    position: relative;

    transition: all .3s linear;
}

.burger__item:before,
.burger__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;

    transition: all .3s linear;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.burger.active .burger__item {
    background-color: transparent;
}

.burger.active .burger__item:before {
    top: 0;
    transform: rotate(45deg);
}

.burger.active .burger__item:after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* BTN */

.btn {
    padding: .8rem 2.25rem;
    display: inline-block;

    font-size: .75rem;
    color: #fff;
    font-weight: 400;

    border: 1px solid #e84c3d;
    background-color: transparent;

    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color .2s linear;
}

.btn--nav {
    margin-left: 87px;
}

.btn--red {
    padding: 1rem 4.53rem;

    font-family: 'PT Sans', sans-serif;
    font-size: .93rem;
    color: #fff;
    font-weight: 700;

    background-color: #e84c3d;

    transition: background-color .2s linear;
}

.btn--form {
    padding: 1.07rem 2rem;

    font-family: 'PT Sans', sans-serif;

    border: 10px solid transparent;
    border-left: none;
    border-image: linear-gradient(
        to right, rgb(109, 51, 104), rgb(54,51, 79));
    border-image-slice: 1;
}

.btn--dark {
    background-color: #2c3039;
    border-color: #2c3039;

    transition: background-color .2s linear, border-color .2s linear;
}

.btn--social {
    padding: .8rem 1.65rem;

    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    color: #fff;
    font-weight: 700;

    border: 1px solid #e84c3d;
    background-color: #e84c3d;
}

.plan__input:checked + .plan__item .btn--dark {
    padding: 1rem 5.03rem;
    background-color: #e84c3d;
    border-color: #e84c3d;
}

.centre .btn--dark { 
    padding: 1.2rem 5.13rem;

    font-size: .75rem;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:focus {
    background-color: #e84c3d;
}

.btn--red:hover,
.btn--red:focus {
    background-color: #ff220e;
}

.btn--dark:hover,
.btn--dark:focus {
    background-color: #ff220e;
    border-color:  #ff220e;
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 581px;

    background: url('../img/intro/bg.png') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro__iner {
    margin: 0 auto;

    width: 100%;
    max-width: 703px;

    text-align: center;
}

.intro__title {
    margin-bottom: 2rem;

    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    font-weight: 250;
}

.intro__text {
    margin: 0 auto 4.7rem;

    width: 100%;
    max-width: 480px;

    font-size: 1.06rem;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}

.intro__ref {
    margin-top: 2.8rem;

    display: block;

    font-size: .75rem;
    color: #fff;
    font-weight: 400;

    text-decoration: none;
    text-transform: uppercase;
}

.intro__ref:focus {
    outline: none;
}

.intro__ref:hover,
.intro__ref:focus {
    text-decoration: underline;
}

/* HOSTING */

.hosting {
    background-color: #2b2f37;
}

.hosting__iner {
    display: flex;
}

.hosting__item {
    flex: 1 1 0;
    padding: 3.8rem 1.3rem;

    text-align: center;

    transition: background-color .2s linear;
}

.hosting__item:hover {
    background-color: #272b32;
}

.hosting__icon {
    display: block;
    margin: 0 auto 2.8rem;
}

.hosting__title {
    margin-bottom: 1.13rem;

    font-size: 1.2rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;

    text-transform: uppercase;
}

.hosting__text {
    margin-bottom: 2rem;

    font-size: 1.06rem;
    line-height: 1.5;
    color: #6f798c;
    font-weight: 400;
}

.hosting__ref {
    font-size: .75rem;
    color: #e84c3d;
    font-weight: 700;

    text-decoration: none;
}

.hosting__ref:focus {
    outline: none;
}

.hosting__ref:hover,
.hosting__ref:focus {
    text-decoration: underline;
}

/* SECTION */

.section {
    padding: 2.7rem 0 4.1rem;
}

.section--features {
    padding: 4.6rem 0 7rem;

    background-color: #2c3039;
}

.section--plan {
    padding: 5.6rem 0;
}

.section--testimonials {
    padding: 0 0 4.1rem;
}

.section__header {
    margin: 0 auto;

    width: 100%;
    max-width: 600px;

    text-align: center;
}

.section__title {
    margin-bottom: 2rem;

    font-size: 2.6rem;
    line-height: .5;
    color: #000;
    font-weight: 300;
}

.section__title--features {
    margin-bottom: 3.3rem;

    color: #fff;
}

.section__text {
    font-size: 1.06rem;
    line-height: 1.5;
    color: #000;
    font-weight: 400;
}

/* DOMAIN */

.domain {
    padding-top: 2.5rem;
    width: 100%;
}

/* FORM */

.form {
    display: flex;
    margin: 0 auto 55px;

    width: 100%;
    max-width: 640px;
}

.form__input {
    width: 100%;
    max-width: 485px;
    padding: .73rem 1.6rem;

    font-family: 'PT Sans', sans-serif;
    font-size: 1.06rem;
    color: #000;
    font-weight: 400;

    border: 10px solid transparent;
    border-right: none;
    border-image: linear-gradient(
        to right, rgb(144, 60, 75), rgb(124, 55, 90), rgb(109, 51, 104));
    border-image-slice: 1;
}

.form__iput::placeholder {
    font-family: 'PT Sans', sans-serif;

    font-size: 1.06rem;
    color: #8a8a8a;
    font-weight: 400;
}

.form__input:focus {
    outline: none;

    border-image: linear-gradient(
        to right,  rgb(109, 51, 104), rgb(124, 55, 90), rgb(144, 60, 75));
    border-image-slice: 1;
}

.form__input:focus + .btn--form {
    border-image: linear-gradient(
        to right, rgb(144, 60, 75),  rgb(54,51, 79));
    border-image-slice: 1;
}

/* CARD */

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__item {
    flex: 0 0 33.333%;
    margin-bottom: 2rem;
    padding: 0 .6rem;

    position: relative;
}

.card__item--features {
    margin-bottom: 4.3rem;
}

.card__photo {
    position: absolute;
    top: 0;
    left: 18px;
    z-index: 1;
}

.card__photo--features {
    left: 27px;
}

.card__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__content {
    margin-left: 80px;
}

.card__content--features {
    margin-left: 90px;
}

.card__title {
    margin-bottom: 0.6rem;

    font-family: 'PT Sans', sans-serif;
    font-size: .93rem;
    line-height: 1.2;
    color: #000;
    font-weight: 700;

    text-transform: uppercase;
}

.card__title--features {
    font-size: 1.06rem;
    line-height: 1.25;
    color: #fff;
    font-weight: 700;
}

.card__text {
    font-size: .93rem;
    line-height: 1.2;
    color: #5e5e5e;
    font-weight: 400;
}

.card__text--features {
    columns: #98a3a3;
}

/* PLAN */

.plan {
    margin-top: 42px;
    /* padding: 0 60px; */
}

.plan__iner {
    margin-bottom: 50px;

    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
}

.plan__input {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.plan__input:checked + .plan__item {
    margin: 0;
    padding: 0;
    padding-bottom: 17px;

    flex-grow: 4;
    border-left: none;
    border-right: none;
    background-color: #2c3039;
}

.plan__input:checked + .plan__item .plan__header {
    padding-top: 28px;

    border: 0;
    background-color: #e84c3d;
}

.plan__input:checked + .plan__item .plan__title {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__subtitle {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__price {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__price .dollar {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__price .month {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__text {
    color: #fff;
}

.plan__input:checked + .plan__item .plan__text span {
    color: #fff;
}

.plan__item {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 27px 20px 17px;

    background: #FFF;
    border: 1px solid #7d7d7d;
    position: relative;
    margin: 0 0.1em 0;
    
    cursor: pointer;

    transition-duration: 0.8s, 0.6s;
    transition-property: flex-grow, opacity;
    transition-timing-function: cubic-bezier(.98,0,.22,.98), ease-in-out;
}

.plan__header {
    width: 100%;
    padding-bottom: 19px;
    margin-bottom: 33px;

    border-bottom: 1px solid #7d7d7d;
    text-align: center;
}

.plan__title {
    margin-bottom: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #2c3039;
    font-weight: 700;

    text-transform: uppercase;
}

.plan__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: .93rem;
    line-height: 1.4;
    color: #2c3039;
    font-weight: 400;
}

.plan__content {
    width: 100%;
    text-align: center;
}

.plan__price {
    margin-bottom: 2.13rem;

    font-size: 3.33rem;
    line-height: .4;
    color: #000;
    font-weight: 700;
}

.dollar {
    font-size: 1.6rem;
    line-height: .8;
    color: #000;
    font-weight: 700;

    vertical-align: middle;
}

.month {
    font-size: .8rem;
    line-height: 1.6;
    color: #000;
    font-weight: 700;
}

.plan__text {
    margin-bottom: 20px;

    font-size: .93rem;
    line-height: 1.4;
    color: #2c3039;
    font-weight: 400;
}

.plan__text span {
    font-size: .93rem;
    line-height: 1.4;
    color: #2c3039;
    font-weight: 700;
}

.plan__btn {
    margin: 32px auto 0;
}

.plan__subtext {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;

    font-size: 1.06rem;
    line-height: 1.25;
    color: #000;
    font-weight: 400;

    text-align: center;
}

.plan__subtext a {
    font-size: 1.06rem;
    line-height: 1.25;
    color: #e74c3c;
    font-weight: 400;

    text-decoration: none;
}

.plan__subtext a:hover {
    text-decoration: underline;
}

/* SLIDER */

.slider {
    width: 100%;
    max-width: 780px;
    margin: 50px auto 0;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__header {
    margin-bottom: 2.3rem;
}

.slider__icon {
    margin: 0 auto;
}

.slider__content {
    margin-bottom: 1.8rem;

    font-size: 1.06rem;
    line-height: 1.5;
    color: #000;
    font-weight: 400;

    text-align: center;
}

.slider__footer {
    margin-bottom: 2rem;
}

.slider__avatar {
    margin: 0 auto 1.6rem;

    width: 80px;
    height: 80px;
}

.slider__img {
    display: block;
    max-width: 100%;
    height: auto;

    border-radius: 50%;
}

.slider__text {
    font-size: .8rem;
    line-height: 2;
    color: #5e5e5e;
    font-weight: 400;

    text-align: center;
}

/* SLICK */

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 50%;
}

.slick-dots li {
    margin: 0 0.3rem;
}

li.slick-active button::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    
    background-color: #000;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate3d(-50%, -50%, 0);
}

.slick-dots button {
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, .1);;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    position: relative;
}

.slick-dots button:focus {
    outline: none;
}

/* BLOG */

.blog {
    margin-top: 40px;
}

.blog__iner {
    padding: 0 80px 0 97px;
}

.blog__item {
    margin-bottom: 40px;

    display: flex;
}

.blog__col {
    flex-grow: 2;
    padding: 26px 28px 0;
}

.blog__title {
    margin-bottom: 22px;

    font-size: 1.2rem;
    line-height: 1.3;
    color: #000;
    font-weight: 400;
}

.blog__title a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #000;
    font-weight: 400;

    text-decoration: none;
}

.blog__title a:focus {
    outline: none;
}

.blog__title a:hover,
.blog__title a:focus {
    text-decoration: underline;
}

.blog__info {
    margin-bottom: 19px;

    display: flex;
    align-items: center;
}

.blog__date {
    margin-right: 25px;

    font-size: .8rem;
    line-height: 1.4;
    font-weight: 400;
    color: #5e5e5e;
}

.blog__commets {
    margin-right: 25px;

    font-size: .8rem;
    line-height: 1.4;
    color: #000;
    font-weight: 700;
}

.blog__reiting {
    font-size: .8rem;
    line-height: 1.4;
    color: #000;
    font-weight: 700;
}

.blog__content {
    display: inline-block;
    font-size: .93rem;
    line-height: 1.4;
    color: #000;
    font-weight: 400;
}

.blog__read {
    font-size: .93rem;
    line-height: 1.4;
    color: #e84c3d;
    font-weight: 400;

    text-decoration: none;
}

.blog__read:focus {
    outline: none;
}

.blog__read:hover,
.blog__read:focus {
    text-decoration: underline;
}

.blog__col-photo {
    flex: 0 0 30%;
}

.blog__photo {
    height: 0;
    padding-bottom: 83%;
    position: relative;

    overflow: hidden;
}

.blog__img {
    width: 100%;
    height: auto;
}

/* CONTACTS */

.contacts {
    padding: 181px 0 158px;

    background: url('../img/contacts/map-pin.png') center no-repeat;
    background-size: cover;
}

.contacts__iner {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

.contacts__title {
    margin-bottom: 38px;

    font-size: 2rem;
    line-height: 1.3;
    color: #000;
    font-weight: 300;
}

.contacts__address {
    margin-bottom: 52px;

    font-style: normal;
}

.contacts__address a {
    font-size: 1.2rem;
    line-height: 1.1;
    color: #000;
    font-weight: 400;

    text-decoration: none;
}

.contacts__address a:focus {
    outline: none;
}

.contacts__address a:hover,
.contacts__address a:focus {
    text-decoration: underline;
}

.contacts__day {
    margin-bottom: 9px;

    font-size: .8rem;
    line-height: 1.1;
    color: #000;
    font-weight: 400;
}

.contacts__footer {
    display: flex;
}

.contacts__phone a {
    font-size: 1.06rem;
    line-height: 1.25;
    color: #000;
    font-weight: 400;

    text-decoration: none;
}

.contacts__phone a:focus {
    outline: none;
}

.contacts__phone a:hover,
.contacts__phone a:focus {
    text-decoration: underline;
}

.contacts__mail {
    margin-left: 38px;

    font-size: 1.06rem;
    line-height: 1.25;
    color: #e84c3d;
    font-weight: 400;

    text-decoration: none;
}

.contacts__mail:focus {
    outline: none;
}

.contacts__mail:hover,
.contacts__mail:focus {
    text-decoration: underline;
}

/* FOOTER */

.footer {
    padding-bottom: 11px;
}

.footer__header {
    width: 100%;
    padding: 10px 0;

    background-color: #2c3039;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__body {
    padding: 20px 0 0 0;
    display: flex;
}

.footer__col {
    flex-grow: 1;
}

.footer__col--big {
    padding-top: 7px;
}

.footer__title {
    margin-bottom: 10px;

    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    line-height: 2.5;
    color: #000;
    font-weight: 700;

    text-transform: uppercase;
}

.footer__col ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer__col--big ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer__col ul li {
    margin-bottom: 10px;
}

.footer__nav {
    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    line-height: 2.5;
    color: #5e5e5e;
    font-weight: 400;

    text-decoration: none;
    text-transform: capitalize;
}

.footer__nav:hover {
    text-decoration: underline;
}

.footer__phone {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #2c3039;
    font-weight: 700;

    text-decoration: none;
}

.footer__phone:hover,
.footer__phone:focus {
    text-decoration: underline;
}

.footer__mail {
    font-family: 'PT Sans', sans-serif;
    font-size: .93rem;
    line-height: 1.4;
    color: #e84c3d;
    font-weight: 400;

    text-decoration: none;
}

.footer__mail:hover,
.footer__mail:focus {
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 38px;

    font-size: .8rem;
    line-height: 20px;
    color: #2c3039;
    font-weight: 400;
}

/* SOCIAL */

.social__text {
    margin-right: 80px;

    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    line-height: 1.6;
    color: #fff;
    font-weight: 400;

    text-transform: uppercase;
}

.social__icon {
    margin-right: 97px;

    display: flex;
    align-items: center;
}

.social__ref {
    margin-right: 41px;

    text-decoration: none;
}

.social__img {
    display: block;
    opacity: .2;

    transition: opacity .2s linear;
}

.social__ref:last-child {
    margin-right: 0;
}

.social__ref:focus {
    outline: none;
}

.social__ref:focus .social__img {
    opacity: 1;
}

.social__img:hover,
.social__img:focus {
    opacity: 1;
}

.social__form {
    margin-left: 23px;
    display: flex;
    align-items: center;

    position: relative;
}

.social__form::before {
    content: "";
    display: block;
    width: 1px;
    height: 60px;

    background-color: #41454d;

    position: absolute;
    top: -9px;
    left: -23px;
    z-index: 1;
}

.social__label {
    margin-right: 23px;

    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    line-height: 1.6;
    color: #fff;
    font-weight: 400;

    text-transform: uppercase;
}

.social__input {
    width: 100%;
    min-width: 294px;

    padding: 10.5px 20px;

    font-family: 'PT Sans', sans-serif;

    border: 1px solid #a8a8a8;
    border-right: 0;
    background-color: #fff;

    transition: border-color .2s linear;
}

.social__input::placeholder {
    font-family: 'PT Sans', sans-serif;
    
    font-size: .93rem;
    line-height: 1.4;
    color: #2c3039;
    font-weight: 400;
}

.social__input:focus {
    outline: none;
    border-color: #e84c3d;
}

/* MEDIA */

@media (max-width: 991px) {

    /* HEADER */

    .header {
        padding: 1rem 0;
    }

    /* NAV */

    .nav {
        width: 100%;
        height: 100%;
        padding-top: 75px;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: fixed;
        top: -100%;
        left: 0;
        z-index: 1;

        overflow: auto;
        background-color: rgba(0,0,0,.9);

        transition: all .3s linear;
    }

    .nav.active {
        top: 0;
    }

    .nav__link {
        padding-left: 0;
        margin-bottom: 2rem;
        font-size: 1.75rem;
    }

    /* BTN */

    .btn {
        font-size: 1.75rem;
    }

    .btn--nav {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .btn--red, .btn--form, .btn--dark {
        font-size: .93rem;
    }

    .btn--social {
        font-size: .8rem;
    }

    .burger {
        display: block;
    }

    /* INTRO */

    .intro {
        min-height: 581px;
    }

    /* HOSTING */

    .hosting__title {
        font-size: 1rem;
    }

    .hosting__text {
        font-size: .8rem;
    }

    /* PLAN */

    .plan__iner {
        width: 50%;
        margin: 0 auto 50px;
    }

    .plan__item {
        flex-grow: 1;
        margin: 0 0.1em 2rem;
    }

    .plan__input:checked + .plan__item {
        margin: 0 0.1em 2rem;
    }

    /* BLOG */

    .blog__item {
        flex-direction: column;
    }

    .blog__col {
        padding:0;
        order: 2;
    }

    .blog__col-photo {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .blog__photo {
        padding-bottom: 0;
    }

    /* FOOTER */

    .footer__social {
        flex-direction: column;
    }

    /* SOCIAL */

    .social__text {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .social__icon {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .social__form {
        margin-left: 0;
    }

    .social__form::before {
        display: none;
    }
}

@media (max-width: 767px) {

    /* INTRO */

    .intro {
        max-height: none;
    }

    .intro__title {
        font-size: 2rem;
    }

    /* HOSTING */

    .hosting__iner {
        flex-wrap: wrap;
    }

    .hosting__item {
        flex: 1 1 100%;
        padding: 1.5rem 0;
    }

    .hosting__icon {
        margin: 0 auto 1.3rem;
    }

    .hosting__text {
        margin-bottom: 1.3rem;
    }

    /* SECTION */

    .section {
        padding: 2.7rem 0 .7rem;
    }

    .section--testimonials {
        padding: 0 0 1rem;
    }

    /* DOMAIN */

    .form {
        max-width: none;
        flex-direction: column;
    }

    .form__input {
        margin-bottom: 1rem;
        max-width: none;
        border-right: 10px solid transparent;
        border-image: linear-gradient( to right, rgb(144, 60, 75), rgb(124, 55, 90), rgb(109, 51, 104), rgb(54,51, 79));
        border-image-slice: 1;
    }

    .form__input:focus {
        outline: none;
    
        border-image: linear-gradient(
            to right,  rgb(54,51, 79), rgb(109, 51, 104), rgb(124, 55, 90), rgb(144, 60, 75));
        border-image-slice: 1;
    }

    .btn--form {
        border-left: 10px solid transparent;
        border-image: linear-gradient( to right, rgb(144, 60, 75), rgb(124, 55, 90), rgb(109, 51, 104), rgb(54,51, 79));
        border-image-slice: 1;
    }

    .form__input:focus + .btn--form {
        border-image: linear-gradient(
            to right,  rgb(54,51, 79), rgb(109, 51, 104), rgb(124, 55, 90), rgb(144, 60, 75));
        border-image-slice: 1;
    }

    .btn--form:focus {
        border-image: linear-gradient(
            to right,  rgb(54,51, 79), rgb(109, 51, 104), rgb(124, 55, 90), rgb(144, 60, 75));
        border-image-slice: 1;
    }

    .card {
        justify-content: flex-start;
    }

    .card__item {
        flex: 0 0 50%;
    }

    /* BLOG */

    .blog__iner {
        padding: 0;
    }

    .centre {
        margin-top: 0;
    }

    /* CONTACTS */

    .contacts {
        margin-top: 2rem;
        padding: 181px 0 158px;
        background: url(../img/contacts/map-pin.png) right 38% bottom 0px;
        background-size: cover;
    }

    /* FOOTER */

    .footer__body {
        flex-wrap: wrap;
        text-align: center;
    }

    .footer__col {
        flex: 1 1 50%;
    }

    .footer__col--big {
        flex: 1 1 100%;
    }
}

@media (max-width: 576px) {

    /* INTRO */

    .intro__title {
        font-size: 1.5rem;
    }

    /* DOMAIN */

    .card__item {
        flex: 0 0 100%;
    }

    /* PLAN */

    .plan__iner {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }

    /* CONTACTS */

    .contacts {
        padding: 50px 0 50px;
    }

    .contacts__title {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .contacts__address {
        margin-bottom: 2rem;
    }

    .contacts__footer {
        flex-direction: column;
    }

    .contacts__mail {
        margin-left: 0;
    }

    /* SOCIAL */

    .social__form {
        flex-direction: column;
    }

    .social__label {
        margin-right: 0;
        margin-bottom: .5rem;
    }

    .social__input {
        margin-bottom: .5rem;
    }

    .btn--social {
        width: 100%;
    }
}